* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  font-family: "Poppins", serif;
  font-weight: 500;
  font-style: normal;
  height: 100vh;
}

.content {
  flex-grow: 1;
}

h1 {
  font-family: "Poppins";
  font-weight: 500;
  font-style: normal;
  font-size: 20px;
  width: 50%;
  text-align: center;
  justify-self: center;
  margin-top: 10px;
}

h3 {
  font-family: "Poppins";
  font-weight: 300;
  font-style: normal;
  font-size: 15px;
  width: 50%;
  text-align: center;
  justify-self: center;
  margin-top: 10px;
}

button {
  cursor: pointer;
  font-family: poppins;
}

nav ul a {
  text-decoration: none;
  color: white;
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

header {
  background: #333;
  color: #fff;
  padding: 15px 0;
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: 50;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.747);
}

header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-size: 1.5rem;
  font-weight: bold;
}

.logo a {
  color: white;
  text-decoration: none;
}

nav ul {
  list-style: none;
  display: flex;
}

nav ul li {
  margin-left: 20px;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
  font-size: 1rem;
}

.cart-container {
  display: flex;
  padding-left: 20px;
  justify-content: center;
  align-content: center;
}

.cart-product-info {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.shopping-cart {
  margin-left: 5px;
  cursor: pointer;
}

.cart-header-container {
  background-color: #333;
}

.cart-header-text {
  display: flex;
  justify-content: start;
  margin-top: 65px;
  margin-left: 70px;
  font-size: 70px;
  width: 100%;
  color: #fff;
}

.cart-grid {
  display: flex;
  flex-direction: column;
  margin-top: 50px;
  row-gap: 50px;
  justify-content: center;
  align-content: center;
}

.cart-moto-jacket-pic {
 width: 20%;
}

.title {
  text-align: center;
  font-size: 30px;
  font-weight: 600;
}

.pay-button-container a {
  display: flex;
  position: fixed;
  top: 430px;
  right: 70px;
  justify-content: end;
  align-items: center;
  width: 100%;
  text-decoration: none;
}

.pay-button {
  background-color: #333;
  color: white;
  width: 20%;
  height: 50px;
  border: none;
  border-radius: 0px 0px 20px 20px;
}

.pay-button:hover {
  background-color: #333333e5;
}

.remove-button {
  background-color: #333;
  color: white;
  width: 20%;
  height: 30px;
  border: none;
  border-radius: 20px;
}

.total-price-container {
  display: flex;
  position: fixed;
  border-radius: 20px 20px 0px 0px;
  top: 250px;
  right: 70px;
  background-color: #333;
  height: 170px;
  width: 20%;
  justify-content: center;
  align-self: flex-end;
}

.total-price {
  margin-left: 10px;
  font-weight: 200;
  font-size: 20px;
  margin-top: 30px;
  text-align: center;
  color: #fff;
}

footer {
  background: #333;
  color: #fff;
  text-align: center;
  padding: 15px 0;
  margin-top: 300px;
  width: 100%;
}