* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  font-family: "Poppins", serif;
  font-weight: 500;
  font-style: normal;
  height: 100vh;
}

.content {
  flex-grow: 1;
}

h1 {
  font-family: "Poppins";
  font-weight: 500;
  font-style: normal;
  font-size: 20px;
  width: 50%;
  text-align: center;
  justify-self: center;
  margin-top: 10px;
}

h3 {
  font-family: "Poppins";
  font-weight: 300;
  font-style: normal;
  font-size: 15px;
  width: 50%;
  text-align: center;
  justify-self: center;
  margin-top: 10px;
}

button {
  cursor: pointer;
  font-family: poppins;
}

nav ul a {
  text-decoration: none;
  color: white;
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

header {
  background: #333;
  color: #fff;
  padding: 15px 0;
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: 50;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.747);
}

header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-size: 1.5rem;
  font-weight: bold;
}

.logo a {
  color: white;
  text-decoration: none;
}

nav ul {
  list-style: none;
  display: flex;
}

nav ul li {
  margin-left: 20px;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
  font-size: 1rem;
}

.cart-container {
  display: flex;
  padding-left: 20px;
  justify-content: center;
  align-content: center;
}

.shopping-cart {
  margin-left: 5px;
  cursor: pointer;
}

.payment-container { 
  width: 300px; 
  margin: 150px auto; 
  padding: 20px; 
  border: 1px solid #ccc; 
  border-radius: 5px; }
        
input { 
    width: 100%; 
    padding: 8px; 
    margin: 5px 0; }
        
button { 
  width: 100%; 
  padding: 10px; 
  background: #28a745; 
  color: white; 
  border: none; 
  cursor: pointer; }
        
button { 
  background: #333;
}

button:hover {
  background: #333333cc;
}

footer {
  background: #333;
  color: #fff;
  text-align: center;
  padding: 15px 0;
  margin-top: 300px;
  width: 100%;
}